body {
    margin: 0;
    padding: 0;

    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom right,
            /* #ffffff 0.3%, */
            hsl(205, 79%, 56%) 20%,
            hsl(205, 79%, 56%) 30%,
            hsl(205, 79%, 56%)40%,
            hsl(205, 79%, 56%) 50%,
            hsl(205, 79%, 56%) 60%,
            hsl(205, 79%, 56%) 80%,
            hsl(205, 79%, 56%));
    /* background-size: cover; */
    background-attachment: fixed;

    overflow: hidden;
}


header {
    padding: 20px;
}

.title {
    font-size: 30px;
    margin-right: 500px;
    margin: auto;
    color: #fff;
}

.main-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 40px;
    gap: 700px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.main-title {
    position: absolute;
    left: -1000px;
    top: 10px;
    line-height: 1.2;
    max-width: 500px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 180px;
    color: #fff;
}

.note {
    position: relative;
    left: -900px;
    /* ← spanの初期位置（親の中で左にずらす） */
    display: inline-block;
}

.hr {
    border: 5px solid rgb(255, 255, 255);
    width: 1000px;
}

span {
    /* color: hsl(226, 92%, 65%); */
    color: #fff;
    margin-left: 105px;
}

.container {
    flex: 1;
    max-width: 550px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
}

.subtext {
    font-size: 25px;
    margin-bottom: 30px;
    display: block;
    color: #fff;
}

.explanation {
    font-size: 20px;
    margin-bottom: 30px;
    color: #fff;
}

.login {
    margin-top: 80px;
    display: flex;
}

.btn {
    margin-bottom: 10px;
}

.sign-up {
    display: block;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 13px;
    /* margin-top: 100px; */
    color: hsl(209, 100%, 63%);
    text-decoration: none;
}

/* @media (max-width: 700px) {
    .container {
        max-width: 100%;
    }

    .btn {
        margin: 0 auto;
    }

    .main-title {
        font-size: 60px;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        border-bottom: none;
    }
} */

/* スマホ用はここまで */
.top {
    position: absolute;
    top: 0;
    left: 240px;
    height: 25px;
    width: 100%;
    background-color: #fff;
}



/* ====== モーダル　====== */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.166);
    justify-content: center;
    align-items: center;
}

.modal .close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.modal .close-btn:hover {
    color: #0000003b;
}


/* ====== .box はすでにあるログイン用デザイン ====== */
.modal .box {
    position: relative;
    background: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    font-size: 18px;
}

.modal .box h1 {
    margin-bottom: 30px;
}

.modal input[type="email"],
.modal input[type="password"] {
    width: 100%;
    max-width: 430px;
    padding: 12px;
    margin-bottom: 17px;
    font-size: 16px;
    border: none;
    border-bottom: 0.5px solid #999;
    background: transparent;
}

.modal input[type="submit"] {
    width: 100%;
    max-width: 440px;
    margin-top: 25px;
    padding: 12px;
    font-size: 16px;
    background: #4F46E5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.modal input[type="submit"]:hover {
    opacity: 0.9;
}




/* .oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* ログインボタン */
.button-30 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    padding: .9em 2em;
    border: 1px solid #2589d0;
    border-radius: 5px;
    background-color: #fff;
    color: #2589d0;
    font-size: 1em;
}

.button-30:hover {
    animation: anima-button-30 1.2s;
}

@keyframes anima-button-30 {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.799);
    }

    100% {
        box-shadow: 0 0 0 1em rgba(214, 214, 214, 0);
    }
}

/* 新規登録ボタン */
.button-51 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100px;
    margin: 0 auto;
    padding: .9em 2em;
    border: none;
    border-bottom: 2px solid #e6edf3;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
}

.button-51::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center left;
    width: 100%;
    height: 2px;
    background-color: #2589d0;
    content: '';
    transition: transform .3s ease;
}

.button-51:hover::after {
    transform: scaleX(1);
}