body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: red;
}


.all{
    display: flex;
    gap: 10px;
    width: 100%;
}

.sidebar{
    width: 100%;
    max-width: 20%;
    background-color: pink;
}

.task{
    width: 100%;
    max-width: 50%;
    background-color: blue;
}

.progress{
    width: 100%;
    max-width: 30%;
    background-color: cadetblue;
}



