/* ハンバーガーメニュー */
.hamburger {
  position: absolute;
  top: 33px;
  left: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.bar {
  height: 3px;
  background: black;
  border-radius: 2px;
  transition: 0.3s ease;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* サイドバー */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 875px;
  background: rgb(44, 130, 205);
  transform: translateX(-100%);
  transition: 0.3s ease;
  z-index: 999;
  padding-top: 80px;
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 35px;
}

.sidebar img{
  filter: brightness(0) invert(1);
}

.sidebar li {
  padding: 15px 30px;
}

.sidebar a {
  text-decoration: none;
  color: rgb(255, 254, 254);
}

.sidebar img {
  width: 15px;
  margin-right: 10px;
}

/* ヘッダー */
header {
  background-color:#2589d0;
  color: white;
  padding: 20px 60px;
}

header h1 {
  margin: 0 0 0 40px;
}

/* オーバーレイ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 998;
}
/* ハンバーガーメニュー */
.hamburger {
  top: 33px;
  left: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.bar {
  height: 3.5px;
  background: rgb(255, 255, 255);
  border-radius: 2px;
  transition: 0.3s ease;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


/* オーバーレイ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 998;
}

.overlay.show {
  display: block;
}

.overlay.show {
  display: block;
}
